[Unit]
Description=PVA Gateway (%(inst)s)
Requires=network.target
After=network.target

[Service]
Type=simple
SyslogIdentifier=pvagw-%(inst)s
ExecStart=%(python)s -m p4p.gw %(conf)s

Environment='PYTHONPATH=%(pythonpath)s'

# pvagw does not need special/root privilege,
# or even a persistent identity.
DynamicUser=yes
# Alternately, with older systemd.
#User=nobody
#Group=nogroup

# (optional) sandboxing
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateUsers=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
